<footer>
    <div class="footerredes">
        <h2>Siga-me nas redes sociais</h2>
        <ul>
            <li>
                <a href="/index/projts">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                   
                </a>
            </li> 
            <li>
                <a href="/index/projts">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    
                </a>
            </li>
            <li>
                <a href="/index/projts">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    
                </a>
            </li>
            <li>
                <a href="/index/projts">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    
                </a>
            </li>
        </ul>
    </div>
    <div class="footerlogo">
        <a href="/"><img src="/img/logo.png" alt="logo do blog"></a>
    </div>
    <div class="footerinfor">
        <ul>
            <li>
                <a href="/index/projts">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="response">profissional.l.delgado@outlook.com</span>
                </a>
            </li>
        </ul>
    </div>
</footer>