
<nav class="position">
    <div class='NavBar'>
        <div class="socialbut">
            <ul>
                <li>
                    <a href="/index/projts">
                        <i class="fa fa-instagram social-dropdow" aria-hidden="true"></i>
                    </a>
                </li>
                <li >
                    <a href="/index/projts">
                        <i class="fa fa-facebook-square social-dropdow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/index/projts">
                        <i class="fa fa-linkedin social-dropdow" aria-hidden="true"></i>
                    </a>
                </li> 
            </ul>
        
        </div>
        <ul>
            <li>                                    
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"><p>Home</p></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>  
            <hr/>
            <li>                                 
                <a>
                    <button class="fa  Mod" id="mod"><p class="msg">tema</p></button>
                    <span class="Temadark nav-text"></span>
                </a>
            </li>
            <hr/>
            <li>                                 
                <a href="/index/contatos">
                    <i class="fa fa-envelope-o "><p>Contatos</p></i>
                    <span class="nav-text">Contatos</span>
                </a>
            </li>
            <hr/>
            <li>
                <a href="/index/cert">
                    <i class="fa fa-certificate" aria-hidden="true"><p>Certificações</p></i>
                    <span class="nav-text">
                        Certificações
                    </span>
                </a>
            </li>  
            <hr/>
            <li>
                <a href="/index/projts">
                    <i class="fa fa-spinner" aria-hidden="true"><p>Projetos</p></i>
                    <span class="nav-text">
                        Projetos
                    </span>
                </a>
            </li> 
            <hr />
            <li class='inviseble'>
                <a href="/index/projts">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span class="nav-text">
                        Instagram
                    </span>
                </a>
            </li> 
            <hr />
            <li class='inviseble'>
                <a href="/index/projts">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <span class="nav-text">
                        Facebook
                    </span>
                </a>
            </li> 
            <hr />
            <li class='inviseble'>
                <a href="/index/projts">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <span class="nav-text">
                        linkedin
                    </span>
                </a>
            </li> 
            
        </ul>
    </div>
</nav>
